<!-- analysis.component.html -->
 <div class="content-container">
    <app-connection></app-connection>
    <section class="content">
      <h1>Analysis Options</h1>
  
      <div *ngIf="loading" class="loading-modal">
        <div class="loading-content">
          <p>Loading... Please wait while your job is processed.</p>
          <div class="spinner"></div>
        </div>
      </div>
  
      <!-- WordCount Analysis -->
      <div class="analysis">
        <div class="job-section">
          <h3>WordCount Analysis</h3>
          <label for="display_value">Number of words: </label>
          <input type="text" [(ngModel)]="displayValue" placeholder="Enter Display-Value">
          <button (click)="submitWordCount()">Submit WordCount Job</button>
        </div>

        <!-- K-Means Analysis -->
        <div class="job-section">
          <h3>K-Means Analysis</h3>
          <label for="k_value">K-Value: </label>
          <input type="text" [(ngModel)]="k_value" placeholder="Enter K-Value">
          <button (click)="submitKMeans()">Submit K-Means Job</button>
        </div>
  
        <!-- TF-IDF Analysis -->
        <div class="job-section">
          <h3>TF-IDF Analysis</h3>
          <label for="tfidf_param">TF-IDF Parameter: </label>
          <input type="text" [(ngModel)]="tfidf_value" placeholder="Enter TF-IDF Parameter">
          <button (click)="submitTFIDF()">Submit TF-IDF Job</button>
        </div>
  
        <!-- Word2Vec Analysis -->
        <div class="job-section">
          <h3>Word2Vec Analysis</h3>
          <label for="w2v_param">Word2Vec Parameter: </label>
          <input type="text" [(ngModel)]="w2v_value" placeholder="Enter Word2Vec Parameter">
          <button (click)="submitW2V()">Submit Word2Vec Job</button>
        </div>
  
        <!-- Topic LDA Analysis -->
        <div class="job-section">
          <h3>Topic LDA Analysis</h3>
          <label for="lda_param">Number of Topics: </label>
          <input type="text" [(ngModel)]="lda_value" placeholder="Enter number of topics">
          <button (click)="submitLDA()">Submit Topic LDA Analysis</button>
        </div>
  
        <!-- Semantic Network Analysis -->
        <div class="job-section">
          <h3>Semantic Network Analysis</h3>
          <label for="sma_param">SMA Parameter: </label>
          <input type="text" [(ngModel)]="sma_wordsnum" placeholder="Enter number of words">
          <label for="sma_ls">Link Strength: </label>
          <input type="text" [(ngModel)]="sma_ls" placeholder="Enter SMA link strength (%)">
          <button (click)="submitSMA()">Submit Semantic Network Analysis</button>
        </div>
  
        <!-- N-Grams Analysis -->
        <div class="job-section">
          <h3>N-Grams Analysis</h3>
          <label for="ngrams_wordsnum">N-Grams Word Number: </label>
          <input type="text" [(ngModel)]="ngrams_value" placeholder="Enter number of words">
          <label for="ngrams_param">N Parameter: </label>
          <input type="text" [(ngModel)]="ngrams_param" placeholder="Enter N-Grams N Parameter">
          <label for="ngrams_ls">Link Strength: </label>
          <input type="text" [(ngModel)]="ngrams_ls" placeholder="Enter N-Grams link strength (%)">
          <button (click)="submitNgrams()">Submit N-Grams Analysis</button>
        </div>
  
        <!-- Hierarchical Clustering Analysis -->
        <div class="job-section">
          <h3>Hierarchical Clustering</h3>
          <label for="hcluster_param">Number of Clusters: </label>
          <input type="text" [(ngModel)]="hcluster_value" placeholder="Enter number of clusters">
          <button (click)="submitHclustering()">Submit Hierarchical Clustering</button>
        </div>
  
        <!-- NER Analysis -->
        <div class="job-section">
          <h3>Named Entity Recognition (NER)</h3>
          <label for="ner_param">Type of entity: </label>
          <input type="text" [(ngModel)]="ner_value" placeholder="Enter type of entity to be extracted: ">
          <button (click)="submitNER()">Submit NER</button>
        </div>
  
        <!-- Sentiment Analysis -->
        <div class="job-section">
          <h3>Sentiment Analysis</h3>
          <button (click)="submitSentiment()">Submit Sentiment Analysis</button>
        </div>
  
      <div class="results">
        <figure id="table"></figure>
        <figure id="wordcloud"></figure>
        <figure id="bar"></figure>
        <figure id="network"></figure>
        <figure id="scatter"></figure>
        <figure id="tree"></figure>
        <figure id="ldavis"></figure>
      </div>
</div>
