<div class="content-container">
  <app-connection></app-connection>
<section class="content">
      <!-- <h1>Search Menu </h1>
    <span class="section-info">Testing connection to ElasticSearch...</span>
    <hr>
    Keyword Search Input 
    <div class="search-container">
        <input type="text" id="keyword" placeholder="Enter keyword" class="search-input" />
        <button onclick="onSearch()" class="search-button">Search</button>
    </div>
    Display search results 
    <div id="searchResults" style="display: none;">
        <h3>Search Results:</h3>
        <ul id="resultList"></ul>
    </div>
    Button to show alert and navigate 
    <div id="saveButton" style="display: none;">
        <button onclick="onSaveSelection()" class="save-button">Save Selected Files</button>
    </div> -->

    <app-search-bar></app-search-bar>
</section>