<div class="content-container">
    <app-connection></app-connection>
    <section class="content">
        <h1>Search Menu</h1>

        <!-- Search Section -->
        <div class="search-section">
            <label for="keyword" class="search-keyword"><b>Search Keyword:</b></label>
            <input type="text" id="keyword" [(ngModel)]="keyword" placeholder="Enter keyword to search" />
            <button (click)="onSearch()">Search</button>
        </div>

        <!-- Search Results Section -->
        <div class="search-results" *ngIf="searchResults.length > 0">
            <h3><strong>Search Results</strong></h3>
            
            <!-- Display limited number of results per page -->
            <ul>
                <li *ngFor="let result of pagedResults">
                    <input type="checkbox" class="custom-checkbox" [id]="result._id" (change)="onFileSelectionChange(result, $event)" />
                    <label [for]="result._id">
                        <b>{{ result.source?.post_title }}</b> - {{ result.source?.post_writer }}
                    </label>
                </li>
            </ul>
            
            <!-- Pagination Controls -->
            <div class="pagination">
                <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">&#8592;</button>
                <span>Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">&#8594;</button>
            </div>
        </div>

        <!-- Selected Files Section -->
        <div class="selected-files" *ngIf="selectedFiles.length > 0">
            <br><h3><b>Selected Files</b></h3>
            <ul>
                <li *ngFor="let file of selectedFiles">
                    <small><italic>{{ file.source?.post_title }} </italic></small>
                </li>
            </ul>
            <button (click)="onSaveSelectedFiles()">Go To Analysis</button>
        </div>
    </section>
</div>
